body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#main {
    flex: 1 0 auto;
}
#logo {
    margin-top: 5%;
    height: 50px;
    width: 200px;
}

h3{
    font-family: cursive;
}
th {
    color: black;
}
tr {
    color: red;
}

.btn-small {
    background-color: black;
}
.btn-small:visited{
    background-color: red;
}
.btn-small:hover {
    background-color: red;
}
.btn-small:focus{
    background-color: red;
}

footer {
    color: black;
}

#userInfo
{
    margin-top: 5%;
}

